/* Estilo para telas maiores */
body {
    font-family: "futura-lt-book";
    -webkit-font-smoothing: antialiased !important;
    margin: 0;
    padding: 0;
}

.navbar {
    background: #005CA9;
    overflow: auto;
    opacity: 1 !important;
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding-right:10px;
}

.logo {
    max-height: 40px;
    margin-left: 20px;
}

.conta-button {
    min-width: 122px;
    min-height: 54px;
    max-width: 135px;
    max-height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #D0E0E3 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    border: none;
    opacity: 1;
    font-size: 15px;
    font-weight: 500;
    color: #005CA9;
}

/* Estilo para telas menores */
@media only screen and (max-width: 600px) {
    .navbar {
        flex-direction: row;
        height: auto;
        padding: 10px;
    }

    .logo {
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .conta-button {
        margin-right: 10px;
    }
}
/* header */
.header {
    background-color:#005CA9;
    border-top: 1px solid rgb(255, 255, 255);
    padding: 10px 6px;
    color: #fff;
    font-family: 'futura-lt-book', Helvetica, Arial, sans-serif;
    
}

.user-info {
    display: flex;
    padding-top:15px;
}

.user-icon {
    margin-right: 6px;
    color:#fff;
    font-size:60px;
}

.user-greeting {
    display: flex;
    flex-direction: column;
}

.user-balance {
    text-align: center;
    margin-top: 3px;
    padding-bottom:15px;
}

.user-balance p:first-child {
    font-weight: bold;
}

.user-balance p {
    margin-top: 4px;
}
/*container*/
.container {
    background-color: #fff;
}

.content-container {
    font-family: 'futura-lt-book', Helvetica, Arial, sans-serif;
    width: 95%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #005CA9;
    padding: 8px;
    border-radius:5px;
}
.att {

    border-radius:10px;
}
@media (min-width: 768px) {
    .att {
        display: block;
        margin: 0 auto; /* Centralizar horizontalmente */
        max-width: 100%; /* Ajuste a largura máxima conforme necessário */
    }
}